Group members:
* Juan Sevilla Fern√°ndez
* Alvaro Caberizo Garnica

In [14]:
import pandas as pd
import numpy as np

In [17]:
# You can download the data from
# https://github.com/joashxu/prosper-loan-data/blob/master/dataset/prosperLoanData.csv 

# Dataset description
# https://github.com/joashxu/prosper-loan-data/tree/master/dataset

# Read the Prosper Loan Data
url = "https://github.com/joashxu/prosper-loan-data/blob/master/dataset/prosperLoanData.csv?raw=true"
df = pd.read_csv(url)

In [18]:
df.columns

Index(['ListingKey', 'ListingNumber', 'ListingCreationDate', 'CreditGrade',
       'Term', 'LoanStatus', 'ClosedDate', 'BorrowerAPR', 'BorrowerRate',
       'LenderYield', 'EstimatedEffectiveYield', 'EstimatedLoss',
       'EstimatedReturn', 'ProsperRating (numeric)', 'ProsperRating (Alpha)',
       'ProsperScore', 'ListingCategory (numeric)', 'BorrowerState',
       'Occupation', 'EmploymentStatus', 'EmploymentStatusDuration',
       'IsBorrowerHomeowner', 'CurrentlyInGroup', 'GroupKey',
       'DateCreditPulled', 'CreditScoreRangeLower', 'CreditScoreRangeUpper',
       'FirstRecordedCreditLine', 'CurrentCreditLines', 'OpenCreditLines',
       'TotalCreditLinespast7years', 'OpenRevolvingAccounts',
       'OpenRevolvingMonthlyPayment', 'InquiriesLast6Months', 'TotalInquiries',
       'CurrentDelinquencies', 'AmountDelinquent', 'DelinquenciesLast7Years',
       'PublicRecordsLast10Years', 'PublicRecordsLast12Months',
       'RevolvingCreditBalance', 'BankcardUtilization',
       'AvailableBankcardCredit', 'TotalTrades',
       'TradesNeverDelinquent (percentage)', 'TradesOpenedLast6Months',
       'DebtToIncomeRatio', 'IncomeRange', 'IncomeVerifiable',
       'StatedMonthlyIncome', 'LoanKey', 'TotalProsperLoans',
       'TotalProsperPaymentsBilled', 'OnTimeProsperPayments',
       'ProsperPaymentsLessThanOneMonthLate',
       'ProsperPaymentsOneMonthPlusLate', 'ProsperPrincipalBorrowed',
       'ProsperPrincipalOutstanding', 'ScorexChangeAtTimeOfListing',
       'LoanCurrentDaysDelinquent', 'LoanFirstDefaultedCycleNumber',
       'LoanMonthsSinceOrigination', 'LoanNumber', 'LoanOriginalAmount',
       'LoanOriginationDate', 'LoanOriginationQuarter', 'MemberKey',
       'MonthlyLoanPayment', 'LP_CustomerPayments',
       'LP_CustomerPrincipalPayments', 'LP_InterestandFees', 'LP_ServiceFees',
       'LP_CollectionFees', 'LP_GrossPrincipalLoss', 'LP_NetPrincipalLoss',
       'LP_NonPrincipalRecoverypayments', 'PercentFunded', 'Recommendations',
       'InvestmentFromFriendsCount', 'InvestmentFromFriendsAmount',
       'Investors'],
      dtype='object')

## 1

Display the "LoanStatus" and "Investors" columns for the row with "ListingNumber" = 816108

In [24]:
## WRITE YOUR CODE HERE ##
df[["ListingNumber",'LoanStatus',"Investors"]].loc[df['ListingNumber'] == 816108]

    ListingNumber LoanStatus  Investors
44         816108    Current          1

## 2

Create a new column called "SingleInvestor" which takes the value True if the column "Investors" is 1, and takes the value False otherwise

In [22]:
## WRITE YOUR CODE HERE ##
df['SingleInvestor'] = False
df.loc[df['Investors'] == 1, 'SingleInvestor'] = True
df[['Investors',"SingleInvestor"]].head(10)

   Investors  SingleInvestor
0        258           False
1          1            True
2         41           False
3        158           False
4         20           False
5          1            True
6          1            True
7          1            True
8          1            True
9          1            True

## 3

Count how many rows have NA as ProsperScore, and count how many rows have a ProsperScore higher than 8

In [16]:
## WRITE YOUR CODE HERE ##

## 4

Display how many rows and mean "Investors" we have per CreditGrade

In [20]:
## WRITE YOUR CODE HERE ##

## 5

The "LoanFirstDefaultedCycleNumber" column captures the month in which the loan first defaulted. Create a column called fraud, that will be True if the loan was defaulted in less than 4 months. Calculate what is the fraud rate in the portfolio based on that new column.

## 6

Create a new column called is_student, which will be true if the column "Occupation" contains the text "Student". Count how many rows and what is the fraud rate based on the is_student column.

In [ ]:
## WRITE YOUR CODE HERE ##

## 7

Study the fraud rate versus the "IncomeRange" columns. Is there any insight we can learn from it?

In [ ]:
## WRITE YOUR CODE HERE ##

In [ ]:
## EXPLAIN YOUR INSIGHTS HERE ##

## 8

Compute the correlation between the features in the next cell. Is there any insight we can learn from the correlation?

In [33]:
feats = ["EmploymentStatusDuration", "OpenRevolvingAccounts", "OpenCreditLines", "CreditScoreRangeLower", "CreditScoreRangeUpper"]

In [ ]:
## WRITE YOUR CODE HERE ##

In [ ]:
## EXPLAIN YOUR INSIGHTS HERE ##