In [1]:
import spacy
from spacy import displacy
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

import warnings
warnings.filterwarnings("ignore")

In [8]:
path_JuanSe = "/Users/juan/Documents/Juan's MacBook Pro/CUNEF/Quinto/Informacion no Estructurada/Practica Final/Data_pacifico_vallecas_info_no_estruct.xlsx"

df = pd.read_excel(path_JuanSe)

In [9]:
df.head()

,title,price,info_features,comment,details
0,Piso en venta en Palomeras Bajas\nPuente de Va...,61.000 €,86 m²\n3 hab.\nPlanta -1 exterior sin ascensor,"VENTA DE LA NUDA PROPIEDAD, SOLO PARA INVERSOR...","Características básicas\n86 m² construidos, 81..."
1,Piso en venta en calle de Josué Lillo s/n\nSan...,112.000 €,86 m²\n3 hab.\nPlanta 1ª sin ascensor,Piso ocupado por persona sin justo título. Est...,"Características básicas\n86 m² construidos, 75..."
2,"Piso en venta en avenida Palomeras, 9\nPalomer...",112.100 €,110 m²\n2 hab.\nPlanta 1ª exterior sin ascensor,"Edificio situado en la ciudad de Madrid, provi...",Características básicas\n110 m² construidos\n2...
3,Piso en venta en calle de Peña Redonda\nPalome...,119.000 €,91 m²\n3 hab.\nBajo exterior sin ascensor,SERVICHECK INMOBILIARIA VENDE PISO DE 3 HABITA...,"Características básicas\n91 m² construidos, 80..."
4,Piso en venta en avenida de San Diego\nSan Die...,120.000 €,87 m²\n3 hab.\nPlanta 1ª exterior sin ascensor,"Vivienda situada en 1ªplanta, contamos con 87m...","Características básicas\n87 m² construidos, 71..."

In [10]:
def symbol_remover(col, symbollist, num = True):
    """
    Esta funcion sirve para formatear columnas numericas que incluyen simbolos
    
    Input: 
    col : columna a formatear
    symbollist : lista de simbolos a eliminar
    
    Output: columna convertida en numerica libre de simbolos
    """
    
    for s in symbollist:
        col = col.str.replace(s, '')
    if num == True: 
        col = col.astype(float)
    
    return col

In [11]:
df["info_features"] = df["info_features"].str.split('\n')
df["details"] = df["details"].str.split('\n')

In [12]:
df["price"] = symbol_remover(df["price"], [".","€"])

In [13]:
df["info_features"]

0       [86 m², 3 hab., Planta -1 exterior sin ascensor]
1                [86 m², 3 hab., Planta 1ª sin ascensor]
2      [110 m², 2 hab., Planta 1ª exterior sin ascensor]
3            [91 m², 3 hab., Bajo exterior sin ascensor]
4       [87 m², 3 hab., Planta 1ª exterior sin ascensor]
                             ...
230    [104 m², 3 hab., Entreplanta exterior con asce...
231    [106 m², 3 hab., Planta 9ª exterior con ascensor]
232    [Obra nueva, 91 m², 3 hab., exterior con ascen...
233    [Obra nueva, 92 m², 3 hab., exterior con ascen...
234    [117 m², 3 hab., Planta 4ª exterior con ascensor]
Name: info_features, Length: 235, dtype: object

In [7]:
df["m2"] = df["info_features"].str[0]
df["m2"] = symbol_remover(df["m2"], [" m²"])
df["info_features"]=df["info_features"].str[1:]

ValueError: could not convert string to float: 'Obra nueva terminada'

In [8]:
blank = []
for i in range(len(df)):
        if df["info_features"][i][0].endswith("."):
            blank.append(df["info_features"][i][0])
            del df["info_features"][i][0]
        else: blank.append(np.nan)

df["hab"] = blank
df["hab"] = symbol_remover(df["hab"], [" hab."])

In [9]:
for i in range(len(df)):
    df["info_features"][i][0] = df["info_features"][i][0].replace("Semi-sótano ", "Planta -1 ")
    df["info_features"][i][0] = df["info_features"][i][0].replace("Bajo ", "Planta 0 ")
    df["info_features"][i][0] = df["info_features"][i][0].replace("Entreplanta ", "Planta 0 ")
    if not df["info_features"][i][0].startswith("Planta "):
        df["info_features"][i][0] = df["info_features"][i][0].replace("exterior ", "Planta NA exterior ")

In [10]:
df["planta"] = df["info_features"].str[0]
df["planta"] = symbol_remover(df["planta"], ["Planta ", " ascensor", "ª"], num=False)
df["info_features"]=df["info_features"].str[1:]

In [11]:
df["exterior"] = df["planta"].str.contains('exterior')
df["ascensor"] = df["planta"].str.contains('con')
df["planta"] = df["planta"].str[:2]

In [12]:
blank = []
for i in range(len(df)):
    
    if len(df["info_features"][i]) == 0:
        blank.append(False)
            
    else: 
        if df["info_features"][i][0].startswith("G"):
                blank.append(True)
                del df["info_features"][i][0]
        else: blank.append(False)

df["garaje"] = blank

In [13]:
blank = []
for i in range(len(df)):
    if not len(df["info_features"][i]) == 0:
            if df["info_features"][i][0].startswith("Lu"):
                blank.append(True)
                del df["info_features"][i][0]
            else: blank.append(False)
    else: blank.append(False)

df["lujo"] = blank

In [14]:
blank = []
for i in range(len(df)):
    if not len(df["info_features"][i]) == 0:
            if df["info_features"][i][0].startswith("Lo"):
                blank.append(True)
                del df["info_features"][i][0]
            else: blank.append(False)
    else: blank.append(False)

df["loft"] = blank

In [15]:
del df["info_features"]

In [18]:
df.head()

,title,price,comment,details,m2,hab,planta,exterior,ascensor,garaje,lujo,loft
0,Piso en venta en calle de Don Ramón de la Cruz...,398000.0,¡Fantástica inversión! Descuento de aproximada...,"[Características básicas, 109 m² construidos, ...",109.0,3.0,4,False,True,False,False,False
1,Dúplex en venta en Recoletos\nBarrio de Salama...,745000.0,Excelente propiedad en Recoletos\nEngel & Völk...,"[Características básicas, 115 m² construidos, ...",115.0,2.0,1,True,True,False,False,False
2,Piso en venta en Castellana\nBarrio de Salaman...,850000.0,Propiedad en la mejor zona de Castellana\nEnge...,"[Características básicas, 161 m² construidos, ...",161.0,3.0,1,False,True,False,False,False
3,"Piso en venta en General Pardiñas\nGoya, Madri...",850000.0,"Precioso piso exterior, muy luminoso, en barri...","[Características básicas, 112 m² construidos, ...",112.0,2.0,5,True,True,False,False,False
4,"Piso en venta en calle de Lagasca\nRecoletos, ...",890000.0,Grupo Marsapi vende en EXCLUSIVA este increíbl...,"[Características básicas, 134 m² construidos, ...",134.0,2.0,-1,True,True,False,False,False