# Token Classification (POS y NER)

In [1]:
## Importación de librerías

import spacy
import pandas as pd
from transformers import pipeline

nlp_parsing = spacy.load('es_core_news_lg')

In [2]:
## Lectura de fichero

texto_original = open("esp.txt", "r").read()
print(texto_original)

Está por ver si el final de Quentin Tarantino como cineasta vendrá con su próxima película, la décima, como tantas veces ha advertido, pero mientras tanto el director de 'Reservoir Dogs' parece preparar el terreno para futuras ocupaciones y en junio publicará su primera novela. La editorial Reservoir Books, del grupo Penguin Random House, ha anunciado este martes que el 29 de junio publicarán con la traducción de Javier Calvo 'Érase una vez en Hollywood', una adaptación de su última película, la novena, por la que recibió hasta diez nominaciones para los premios Oscar.

In [3]:
## POS _ spaCy

texto_spacy = nlp_parsing(texto_original)

spacy_pos_tagged = [(token.text, token.pos_) for token in texto_spacy]
pd.DataFrame(spacy_pos_tagged, columns=['Token', 'POS']).T

,0,1,2,3,4,5,6,7,8,9,...,99,100,101,102,103,104,105,106,107,108
Token,Está,por,ver,si,el,final,de,Quentin,Tarantino,como,...,recibió,hasta,diez,nominaciones,para,los,premios,Oscar,.,\n\n
POS,VERB,ADP,VERB,SCONJ,DET,NOUN,ADP,PROPN,PROPN,SCONJ,...,VERB,ADP,NUM,NOUN,ADP,DET,NOUN,PROPN,PUNCT,SPACE

In [4]:
## POS _ Transformers

from transformers import AutoTokenizer, AutoModelForTokenClassification

tokenizer = AutoTokenizer.from_pretrained("sagorsarker/codeswitch-spaeng-pos-lince")
model = AutoModelForTokenClassification.from_pretrained("sagorsarker/codeswitch-spaeng-pos-lince")

nlp_pos = pipeline("ner", model = model, tokenizer = tokenizer)

texto_trf = nlp_pos(texto_original)
trans_pos_tagged = [(token["word"], token["entity"]) for token in texto_trf]
pd.DataFrame(trans_pos_tagged, columns=['Token', 'POS']).T

Ignored unknown kwarg option direction

,0,1,2,3,4,5,6,7,8,9,...,112,113,114,115,116,117,118,119,120,121
Token,Está,por,ver,si,el,final,de,Quentin,Tara,##ntino,...,recibió,hasta,diez,nomina,##ciones,para,los,premios,Oscar,.
POS,AUX,ADP,VERB,SCONJ,DET,NOUN,ADP,PROPN,PROPN,PROPN,...,VERB,ADP,NUM,NOUN,NOUN,ADP,DET,NOUN,PROPN,PUNCT

In [5]:
## NER _ spaCy

ents_tagged = [(ent.text, ent.label_) for ent in texto_spacy.ents]
pd.DataFrame(ents_tagged, columns=['Entidad', 'Tipo']).T

,0,1,2,3,4,5,6,7
Entidad,Quentin Tarantino,Reservoir Dogs',La editorial,Reservoir Books,Penguin Random House,Javier Calvo,Hollywood,premios Oscar
Tipo,PER,MISC,MISC,MISC,ORG,PER,LOC,MISC

In [6]:
## ENT _ Transformers

from transformers import AutoTokenizer, AutoModelForTokenClassification

tokenizer = AutoTokenizer.from_pretrained("sagorsarker/codeswitch-spaeng-ner-lince")
model = AutoModelForTokenClassification.from_pretrained("sagorsarker/codeswitch-spaeng-ner-lince")

nlp_pos = pipeline("ner", model = model, tokenizer = tokenizer)

texto_trf = nlp_pos(texto_original)
trans_pos_tagged = [(token["word"], token["entity"]) for token in texto_trf]
pd.DataFrame(trans_pos_tagged, columns=['Token', 'POS']).T

Ignored unknown kwarg option direction

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
Token,Quentin,Tara,##ntino,Reservoir,Dogs,junio,Reservoir,Books,Penguin,Random,...,Javier,Calvo,É,##rase,una,vez,en,Hollywood,premios,Oscar
POS,B-PER,I-PER,I-PER,B-TITLE,I-TITLE,B-TIME,B-ORG,I-ORG,B-ORG,I-ORG,...,B-PER,I-PER,B-TITLE,I-TITLE,I-TITLE,I-TITLE,I-TITLE,B-LOC,B-EVENT,I-EVENT